body {
	width: 500px;
}

.box1 {
	display: inline-block;
	padding-left: 64px;
	margin-right: 36px;
	border: 1px solid green;
	box-sizing: border-box;
}

.box2 {
	display:inline-block;
	padding-left: 24px;
	padding-top: 36px;
	padding-bottom: 36px;
	margin-bottom: 48px;
	border: 1px solid red;
	box-sizing: border-box;
}

.box3 {
	display:inline-block;
	padding-left: 24px;
	width: 480px;
	border: 1px solid blue;
	box-sizing: border-box;
}