body {
	background-color: #262626;
}

.flex-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.left {
		justify-content: flex-start;
}

.center {
		justify-content: center;
}

.right {
		justify-content: flex-end;
}

div.search {
	display: inline-block;
	height: 50px;
	width: 200px;
	overflow: hidden;
	border: 0px;
	border-radius: 40px;
	background-color: gray;
}